:root {
    --color-primario: #2A7AE4;
    --color-letra: #464646;
    --color-placeholder: #A2A2A2;
    --color-background: #FFFFFF;
    --color-primario-boxshadow: 0 5px 10px rgb(42, 122, 228, 0.25);
    --color-background-rodapie: #EAF2FD;
}
